<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Wrestler</title>
</head>

<body>
  <h2>Edit</h2>
  <form action="/api/update/<%= pi._id %>" method="POST">
    <input type="text" value="<%= pi.name %>" name="name">
    Virar campeão: <!-- TODO: queria esse texto em cina do checkbox-->
    <input type="checkbox" value="true" name="champion">
    Mudar divisão: <!-- TODO: queria esse texto em cina do checkbox-->
    <input type="checkbox" value="true" name="main">
    <br />
    <button><a href="/api/listAll">List All</a></button>
    <button type="submit">Edit</button>
  </form>
</body>

</html>