<body><div class="content">
  <div class="genre">
    <div class="ranks wrestler">
      <div class="title_name">TNT Championship</div>
      <div id="secundario-m">
      </div>
    </div>
    <div class="ranks wrestler">
      <div class="title_name">AEW World Championship</div>
      <div id="principal-m"></div>
    </div>
    <div class="ranks tag">
      <div class="title_name">World Tag Team Championship</div>
      <div id="tag-m"></div>
    </div>
  </div>
  <div class="genre">
    <div class="ranks wrestler">
      <div class="title_name">TBS Championship</div>
      <div id="secundario-f"></div>
    </div>
    <div class="ranks wrestler">
      <div class="title_name">Women's World Championship</div>
      <div id="principal-f"></div>
    </div>
    <div class="ranks tag">
      <div class="title_name">Women's Tag Team Championship</div>
      <div id="tag-f"></div>
    </div>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src="/scripts/top5.js"></script>
<!-- <form action="/api/reset" method="POST">
    <button type="submit">Reset</button>
  </form> -->