<body><div class="content">
  <div class="genre">
    <div class="ranks wrestler">
      <div class="title_name">TNT Championship</div>
      <div id="secundario-m">
      </div>
    </div>
    <div class="ranks wrestler">
      <div class="title_name">AEW World Championship</div>
      <div id="principal-m"></div>
    </div>
    <div class="ranks tag">
      <div class="title_name">World Tag Team Championship</div>
      <div id="tag-m"></div>
    </div>
  </div>
  <div class="genre">
    <div class="ranks wrestler">
      <div class="title_name">TBS Championship</div>
      <div id="secundario-f"></div>
    </div>
    <div class="ranks wrestler">
      <div class="title_name">Women's World Championship</div>
      <div id="principal-f"></div>
    </div>
    <div class="ranks tag">
      <div class="title_name">Women's Tag Team Championship</div>
      <div class="champion"><img src="images/Tag Vacant Womens.png" /></div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>1</td>
              <td>Bill Murray</td>
              <td>0</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jeff Hardy</td>
              <td>0</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Lance Archer</td>
              <td>0</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Jon Moxley</td>
              <td>0</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Adam Page</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src="/scripts/top5.js"></script>
<!-- <form action="/api/reset" method="POST">
    <button type="submit">Reset</button>
  </form> -->