<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Wrestler</title>
</head>

<body>
  <h2>Match</h2>
  <form action="/api/match" method="POST" id="match">
    <button type="submit">Submit</button>
  </form>
  <select id="locality-dropdown" name="winner" form="match">
</select>
<select id="locality-dropdown2" name="loser" form="match">
</select>
<script type="text/javascript" src="/scripts/match.js"></script>
</body>

</html>