<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/match.css">
  <title>Match</title>
</head>

<body>
  <div class="content">
    <h1>Match</h1>
    <div class="match-card">
      <form action="/api/match" method="POST" id="match">
        <button type="submit">Submit</button>
      </form>
      <select id="locality-dropdown" name="winner" form="match">
      </select>
      <select id="locality-dropdown2" name="loser" form="match">
      </select>
      Title Match:
      <input type="checkbox" value="true" name="champion" form="match">
      Evento Especial:
      <input type="checkbox" value="true" name="event" form="match">
    </div>
  </div>
  <script type="text/javascript" src="/scripts/match.js"></script>
</body>

</html>