.row{
    --bs-gutter-x: 1 rem;
}
.card{
    --bs-card-border-width: 4px;
    --bs-card-border-color: rgb(5,5,5);
    --bs-card-bg: #f1f1f1;
}
.form-control {
    border: 1px solid #000000;
}
.login-button{
    background: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 37%;
    width: 240px;
}
.login-button a{
    color: #000000;
}
