body {
    background-color: rgb(240, 240, 240);
}

a {
    text-decoration: none;
}

#cabecalho {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.figura {
    text-align: center;
}

.my_nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: rgb(185, 177, 181);
}
.content{
    margin-top: 10%;
}
table {
    table-layout: fixed;
}

.tbl-header {
    display: inline-block;
}

.tbl-content {
    overflow-x: auto;
    margin-top: 0px;
}

td {
    padding: 21.6px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

tr {
    border: 1px solid black;
    background: radial-gradient(ellipse farthest-corner at right bottom, #85711c 0%, #49350e 1%, #271f0d 30%, #131313 40%, transparent 80%) no-repeat,
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 4%, #D1B464 25%, #5d4a1f 52.5%, #3b2f13 80%) no-repeat;
}

.ranks {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 14.8%;
    border: 4px solid black;
    background-color: rgb(5, 5, 5);
}

.champion {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%) no-repeat,
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) no-repeat;
}

.title_name {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: #FFFFFF;
    font-weight: bold;
}

.ranks.tag td {
    padding-right: 50.7px;
}

.ranks.wrestler td {
    padding-right: 32.5px;
}

.grid-content {
    position: relative;
}

.grid-caption {
    position: absolute;
    padding: 8px 8px 8px 8px;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
}

.grid-caption-text {
    margin-bottom: 0;
    line-height: 1.5rem;
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.grid-caption-text a {
    color: rgb(0, 0, 0);
}

.grid-caption-text a:hover {
    color: rgb(56, 53, 55);
}